<!--
  Generated template for the FormulaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="primary">
        <ion-title>NaturoTools</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <div id="wrapper">
        <ion-card class="card">

            <ion-card-content>
                <div class="card-hdr">
                    <strong style="text-transform: uppercase;">Dosage Instructions</strong>
                </div>

                <br/>
                <div style="text-align: center;">
                    <strong>Take</strong> {{ formula?.dosage_ml }}ml <br/>
                    {{ formula?.dosage_frequency }}<br/>
                    <strong>{{ formula?.dosage_time }}</strong> times a day
                </div>

                <hr>

                <div style="text-align: center;">
                    <strong style="text-transform: uppercase;">Practitioner Notes</strong><br/>
                    {{ formula?.prac_notes }}
                </div>
            </ion-card-content>
        </ion-card>

        <ion-card class="card animate-in" *ngFor="let herb of getHerbs(formula)" style="border-bottom: 2px solid;"
                  [style.border-bottom-color]="getBrandObject(herb.herb).colour">
            <ion-card-header text-wrap>{{ herb.herb.common_name }} <span style="font-size: 14px;"
                                                                         [style.color]="getBrandObject(herb.herb).colour">({{ getBrandObject(herb.herb).brand }})</span><br/><span
                    style="color: darkseagreen; font-size: 13px; font-weight: normal;"><strong>{{ herb.herb.latin_binomaial }}</strong></span>
            </ion-card-header>

            <ion-card-content>
                <ul style="padding-top: 0px;">
                    <li><strong>Dosage Range (weekly):</strong> {{ herb.dosage != '' ?
                        herb.dosage + 'ml' : 'N/A' }}
                    </li>
                    <li><strong>Recommended Dosage Range (weekly):</strong> {{ herb.herb.weekly_dosage_range != '' ?
                        herb.herb.weekly_dosage_range + 'ml' : 'N/A' }}
                    </li>
                </ul>

                <div class="actions" *ngIf="herb.herb.actions.length != 0">
                    <strong style="text-transform: uppercase;">Actions</strong>

                    <ul>
                        <li *ngFor="let action of getActions(herb.herb)">{{ action.action_name }}</li>
                    </ul>
                </div>

                <div class="interactions" *ngIf="herb.herb.interactions.length != 0">
                    <strong style="text-transform: uppercase;">Interactions</strong>

                    <ul>
                        <li *ngFor="let interaction of getInteractions(result)"><strong>{{ interaction.drug }}</strong>
                            - {{
                            interaction.interaction }}
                        </li>
                    </ul>

                </div>

                <div class="flags" *ngIf="herb.herb.flags && herb.herb.flags.length != 0">
                    <strong style="text-transform: uppercase;">Flags</strong>
                    <br/>
                    {{ getFlags(herb.herb)?.flag }}
                </div>
            </ion-card-content>
        </ion-card>

    </div>

    <ion-card>
        <ion-card-content style="text-align: center;">
            <button (click)="email()" ion-button clear color="primary">Email</button>
            <button (click)="sharePDF()" ion-button clear color="secondary">Share PDF</button>
        </ion-card-content>
    </ion-card>
</ion-content>
